<html>
  <head>
    <title>
      Index Page
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <style>
    /* #banner */
      /* body{ */
        /* background-image: url(https://cdn.pixabay.com/photo/2014/10/22/16/38/ingredients-498199_960_720.jpg); */
        /* background-image: url({{url_for('static', filename='../images/ingredients.jpg')}}); */
        /* background-image: url('../ingredients.jpg'); */
        /* background-repeat: no-repeat;
        background-size: cover; */
      /* } */
    </style>
    
  </head>
  <body>
    <h1>Welcome to index page</h1>
  </body>
</html>